# =========================
# DATASETS (NO SUBIR)
# =========================
data/
*.zip
*.tar
*.gz

# =========================
# ENTORNO VIRTUAL
# =========================
venv310/
.env

# =========================
# ARCHIVOS DE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SISTEMA (WINDOWS / MAC)
# =========================
.DS_Store
Thumbs.db